.Pokecard {
  background-color: lightgray;
  border-radius: 10px;
  width: 10em;
  margin: 1em; /* adds space to outside of content border */
  padding: 1em;
}

.Pokecard-header {
  color: blue;
}

.Pokecard-type,
.Pokecard-exp {
  font-size: 0.8em;
  margin: 0;
}
